html {
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c6dcef;
    padding: 5% 0;
}

.profile__pic {
    text-align: center;
}

.profile__pic img {
    border-radius: 100%;
    border: 10px;
    width: 60%;
}

.profile__firstname,
.profile__lastname {
    font-weight: bold;
    font-size: 2rem;
    color: #352a2a;
}

.profile__designation {
    border-top: 1px solid #bbbbe4;
    ;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
}

.information {
    background-color: #ecf4f7;
    border-bottom: 1px solid #bbbbe4;
    padding: 5%;
}

.information__contact-no,
.information__email,
.information__location {
    font-size: 1.2rem;
    color: #352a2a;
    padding: 2%;
}

.information__contact-no img,
.information__email img,
.information__location img {
    width: 7%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4%;
}

.education {
    background-color: #ecf4f7;
    border-bottom: 1px solid #bbbbe4;
    padding: 5%;
}

.education__title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 6% 0;
    color: #352a2a;
}

.education__details {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2%;
    color: #352a2a;
    margin-top: 3%;
}

.education__details-1,
.education__details-line2 {
    font-size: 1.1rem;
    color: #352a2a;
}

.skills {
    background-color: #ecf4f7;
    padding: 5%;
}

.skills__title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 6% 0;
    color: #352a2a;
}

.round {
    color: #49a7f9;
}

.skills__table {
    width: 90%;
}

.skills__table-shape {
    padding-right: 10%;
}

.aboutme {
    padding: 5%;
}

.aboutme__title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 6% 0;
    color: #352a2a;
}

.aboutme__details {
    font-size: 1.2rem;
    padding: 2%;
    color: #352a2a;
}

.work {
    padding: 5%;
}

.work__title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 6% 0;
    color: #352a2a;
}

.work__details {
    font-size: 1.2rem;
    padding: 2%;
    color: #352a2a;
}

.certification {
    padding: 5%;
}

.certification__title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 6% 0;
    color: #352a2a;
}

.certification__details {
    font-size: 1.2rem;
    padding: 2%;
    color: #352a2a;
}

.certification__details1 {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 2%;
    color: #352a2a;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html{
        font-size: 20px;
    }
}